@font-face {
    font-family: "Rift";
    src: url(../font/Rift_2/Fort\ Foundry\ -\ Rift\ Bold\ Italic.otf);
}

@font-face {
    font-family: "ttnormspro";
    src: url(../font/Rift_2/TT\ Norms\ Pro\ Bold.otf);
}